.mat-mdc-button-base {
  margin: 4px;
}
.custom-card-content {
  height: 600px; /* Ajusta la altura según tus necesidades */
  width: 2000px; /* Ajusta el ancho según tus necesidades */
  padding: 20px; /* Ajusta el espaciado interno según tus necesidades */
}

